body{
	background-color: #fff0f3;
	margin:auto;
}
	/*width: 90%;
	min-width: 500px;
	margin: auto;*/
html, body, #wrapper {
    width: 100%;
    min-height: 100%;
}
article{
	background-color: white;
	border-style: dashed;
	border-collapse: auto;
	height: 650px;
	width: 55%;
	margin:auto;
}

.intro{
	background-color: white;
	border-style: dashed;
	border-collapse: auto;
	height: 440px;
	width: 55%;
	margin:auto;	
}

.about{
	background-color: white;
	border-style: dashed;
	border-collapse: auto;
	height: 60%;
	width: 55%;
	margin:auto;
}


.horizontal{
	border-style: solid;
	border-color: white;
	background-color: #fff0f3;
	width: auto;
	height: auto;
	margin:auto;
}

.bar{
	border-style: hidden;
	background-color: white;
	height: 40px;
}
button{
	float: right;
}