
body{
	background-color: #fff0f3;
	/*width: 90%;
	min-width: 500px;
	margin: auto;*/
}
article{
	background-color: white;
	border-style: dashed;
	height: 650px;
	width: 55%;
}

main{
	background-color: white;
	border-style: dashed;
	height: 440px;
	width: 55%;
}

.about{
	background-color: white;
	border-style: dashed;
	height: 60%;
	width: 55%;
}
content{
	background-color: white;
	height: 440px;
	width: 55%;
}
div{
	height: 250px;
	width: 50%;
}


.horizontal{
	border-style: solid;
	border-color: white;
	background-color: #fff0f3;
	width: auto;
	height: auto;
	border-radius: 30%;
	border-width: 40%;

}

.title{
	text-align: left; 
	display: inline;
	background-color: white; 
}
.bar{
	border-style: hidden;
	background-color: white;
	height: 40px;
}
button{
	float: right;
}